<h1>Stupid Coaching</h1>
<div class="container">
  <div class="mb-3">

    <p><%= @question %></p>
    <P>-You</P>

    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
</div>

<p><%= link_to "ask a new question", ask_path %></p>
